.word-list {
	list-style-type: none;
	font-size: 24px;
	cursor: pointer;
}

.title {
	font-size: 30px;
	color: var(--accent-orange);
	margin-left: 1em;
}

.word-list > li {
	position: relative;
	background-image: url('../assets/book-icon.png');
	background-position-y: 8px;
	background-size: 18px 18px;
	background-repeat: no-repeat;
	padding-left: 20px;
	margin-top: 10px;
	width: 8em;
}

.icon-trash {
	position: absolute;
	right: 5px;
}
