.search-container {
	display: flex;
	flex-direction: column;
	flex: 2;
	justify-content: center;
}

.search-input {
	width: 50%;
	max-width: 30em;
	min-width: 10em;
	height: 50px;
	border: 2px solid darkgrey;
	outline: none;
	border-radius: 15px 0px 0px 15px;
	font-size: 18px;
	box-sizing: border-box;
	padding: 0px 15px;
	color: rgb(83, 82, 82);
}

.submit-btn {
	height: 50px;
	width: 5em;
	border: 2px solid darkgrey;
	border-left: none;
	border-radius: 0px 15px 15px 0px;
	cursor: pointer;
	font-size: 18px;
}

.error-container {
	display: flex;
	align-items: center;
	border: 2px solid #d01c71;
	border-radius: 5px;
	background-color: #f9e7f1;
	max-width: fit-content;
	height: 40px;
	margin-top: 5px;
	padding: 5px;
}

.error-text {
	font-size: 16px;
	color: #a82564;
	padding: 5px;
}
