.search-container {
	display: flex;
	flex-direction: column;
	flex: 2;
	justify-content: center;
}

.search-input {
	width: 50%;
	max-width: 30em;
	min-width: 10em;
	height: 50px;
	border: 2px solid var(--middle-grey);
	outline: none;
	border-radius: 15px 0px 0px 15px;
	font-size: 18px;
	box-sizing: border-box;
	padding: 0px 15px;
	color: var(--dark-grey);
}

.submit-btn {
	height: 50px;
	width: 5em;
	border: 2px solid var(--middle-grey);
	border-left: none;
	border-radius: 0px 15px 15px 0px;
	cursor: pointer;
	font-size: 18px;
}

.error-container {
	display: flex;
	align-items: center;
	border: 2px solid var(--error-border);
	border-radius: 5px;
	background-color: var(--error-background);
	max-width: fit-content;
	height: 40px;
	margin-top: 5px;
	padding: 5px;
}

.error-text {
	font-size: 16px;
	color: var(--error-text);
	padding: 5px;
}
