.app {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--dark-grey);
}

.body-container {
	display: flex;
	width: 100%;
}

.word-container {
	display: flex;
	align-items: center;
	height: 60px;
	margin-left: 20px;
}

.wordlist-container {
	flex: 2;
}

.myword-container {
	flex: 1;
}

h3 {
	color: var(--dark-grey);
}

.word {
	font-size: 30px;
	color: var(--accent-orange);
	margin: 0 8px;
}

.save-icon {
	font-size: 25px;
	margin: 0 10px;
	cursor: pointer;
}
