body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	min-height: 100vh;
}

.dark {
	--grey100: #c3c3c3;
	--grey200: #5c5c5c;
	--accent-orange: #f39237;
	--error-background: #f9e7f1;
	--error-text: #a82564;
	--error-border: #d01c71;

	background-color: #5c5c5c;
	color: #c3c3c3;
	transition: 0.3s linear;
}

.light {
	--grey100: #5c5c5c;
	--grey200: #c3c3c3;
	--accent-orange: #f39237;
	--error-background: #f9e7f1;
	--error-text: #a82564;
	--error-border: #d01c71;

	background-color: white;
	transition: 0.3s linear;
}

.body-container {
	display: flex;
	width: 100%;
}

.word-container {
	display: flex;
	align-items: center;
	height: 60px;
	margin-left: 20px;
}

.wordlist-container {
	flex: 2;
}

.myword-container {
	flex: 1;
}

.word {
	font-size: 30px;
	color: var(--accent-orange);
	margin: 0 8px;
}

.save-icon {
	font-size: 25px;
	margin: 0 10px;
	cursor: pointer;
}

.theme-toggle {
	font-size: 20px;
	margin: 10px;
	color: var(--accent-orange);
	position: absolute;
	right: 0;
}
