:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	color-scheme: light dark;

	--grey100: #5c5c5c;
	--grey200: #c3c3c3;
	--constant-dark-grey: #5c5c5c;
	--accent-orange: #f39237;
	--error-background: #f9e7f1;
	--error-text: #a82564;
	--error-border: #d01c71;

	color: #5c5c5c;
}

@media (prefers-color-scheme: light) {
	:root {
		--grey100: #5c5c5c;
		--grey200: #c3c3c3;
		--accent-orange: #f39237;
		--error-background: #f9e7f1;
		--error-text: #a82564;
		--error-border: #d01c71;

		background-color: white;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--grey100: #c3c3c3;
		--grey200: #5c5c5c;
		--accent-orange: #f39237;
		--error-background: #f9e7f1;
		--error-text: #a82564;
		--error-border: #d01c71;

		background-color: #5c5c5c;
		color: #c3c3c3;
	}
}
