:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	color-scheme: light dark;
	background-color: #242424;

	--dark-grey: #5c5c5c;
	--middle-grey: #a9a9a9;
	--accent-orange: #f39237;
	--error-background: #f9e7f1;
	--error-text: #a82564;
	--error-border: #d01c71;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #fff;
	}

	a:hover {
		color: #747bff;
	}

	button {
		background-color: #f9f9f9;
	}
}
